<div class="min-w-screen min-h-screen bg-gradient-to-br from-sky-400 to-sky-600 flex flex-col items-center justify-center" *ngIf="!start$.value">
    <button type="button" class="w-40 p-2 bg-green-700 text-2xl font-serif font-semibold text-white" (click)="startGame()">Start Game</button>
</div>

<div *ngIf="loading$ | async; else gameContent">
    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</div>

<ng-template #gameContent>
    <div class="min-w-screen min-h-screen bg-gradient-to-br from-sky-400 to-sky-600 flex flex-col items-center justify-center" *ngIf="start$.value">
        <app-main class="w-[96%] bg-gradient-to-br from-sky-600 to-sky-400 h-[96%]"></app-main>
    </div>
</ng-template>